<%= link_to 'Registrar Novo', new_customer_path %>

<table class="ls-table">
  <% @customers.each do |customer| %>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= link_to customer.name, customer_path(customer) %></td>
        <td><%= customer.email %></td>
      </tr>
    </tbody>
  <% end %>
</table>
