<h2>
  Sentiremos sua falta <%= @customer.name %>!
</h2>

<p>
  <strong>E esperamos que você volte um dia</strong><br><br>

  Quaisquer dúvidas e/ou reclamações,<br>
  por favor entre em contato pelos nossos canais de comunição.<br><br>

  Atenciosamente,<br>
  Equipe Mini Locaweb<br>
</p>

